[commit]
gpgsign = true

[core]
editor = vim

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = {{ git_configuration_directory }}/allowed_signers

[init]
defaultBranch = main

[user]
email = {{ git_user_email }}
name = {{ git_user_name }}
signingkey = {{ ansible_user_dir }}/.ssh/id_ed25519.pub
