instance_name = {{ grafana_domain }}

[server]
domain = {{ grafana_domain }}
enable_gzip = true
enforce_domain = true
http_addr = {{ grafana_listen_address }}
{% if grafana_certificate_file_path is defined %}
protocol = h2
cert_file = {{ grafana_certificate_file_path }}
cert_key = {{ grafana_certificate_key_path }}
{% else %}
protocol = http
{% endif %}

[analytics]
feedback_links_enabled = false

[dashboards]
versions_to_keep = 100

[database]
host = {{ grafana_database_host }}
name = {{ grafana_database_name }}
password = {{ grafana_database_password }}
type = mysql
user = {{ grafana_database_username }}

[explore]
enabled = true

[feature_highlights]
enabled = true

[help]
enabled = true

[metrics]
; basic_auth_password =
; basic_auth_username =

[profile]
enabled = true

[query_history]
enabled = true

[security]
cookie_samesite = strict
disable_initial_admin_creation = true
secret_key = {{ grafana_secret_key }}
{% if grafana_certificate_file_path is defined %}
cookie_secure = true
{% endif %}

[users]
allow_org_create = false
allow_sign_up = false
default_theme = system
verify_email_enabled = false
